@charset 'utf-8';

.content {
    height: 60vw;
}

.content_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%;
}

.emotions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22vw;
    height: 55vw;
    margin: 0 0 5vw 0;
    text-align: center;
}

.emotions>p:nth-child(1) {
    font-size: 3vw;
    letter-spacing: 3px;
}

.positive {
    font-size: 1.2vw;
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
}

.positive>li {
    width: calc(100% / 3);
    padding: 1vw 0 0 0;
}

.negative {
    font-size: 1.2vw;
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
}

.negative>li {
    width: calc(100% / 3);
    padding: 1vw 0 0 0;
}

.write_box {
    width: 58vw;
    height: 55vw;
    margin: 0 0 5vw 0;
    border-left: 1px solid #333;
    box-sizing: border-box;
}

.write_box>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 58vw;
    height: 55vw;
}

.write_box>form>p {
    width: 100%;
    height: 4vw;
    font-size: 2vw;
    letter-spacing: 3px;
    padding: 0 0 0 4%;
}

.write_box>form>ul>li {
    margin-bottom: 2vw;
}

.write_box>form>ul>li>input {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    letter-spacing: 2px;
    text-indent: 10px;
}

.write_box>form>ul>li:nth-child(1)>input {
    width: 20vw;
    height: 2.8vw;
    font-size: 1.8vw;
    font-weight: bold;
    text-indent: 3px;
}

.write_box>form>ul>li:nth-child(2)>input {
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    text-align: center;
    text-indent: 3px;
}

.write_box>form>ul>li:nth-child(3)>input {
    width: 11vw;
    height: 2.5vw;
    font-size: 1.2vw;
    text-align: center;
    text-indent: 0px;
}

.write_box>form>ul>li:nth-child(4)>textarea {
    width: 55vw;
    border: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: transparent;
    letter-spacing: 2px;
    text-indent: 10px;
    font-size: 1vw;
    line-height: 2vw;
    resize: none;
    white-space: pre;
}

.write_box>form>button {
    margin: 0 3% 0 auto;
    width: 6vw;
    background-color: #fff08A;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 20px;
    letter-spacing: 3px;
    font-size: 1vw;
}

.write_box>form>button:hover {
    cursor: pointer;
    border: 1px solid #fff08A;
}

input:focus,
textarea:focus {
    outline: none;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width:1024px) {
    .write_box>form {
        padding: 0 2%;
        box-sizing: border-box;
    }

    .write_box>form>p {
        padding: 0 0 0 2%;
    }

    .write_box>form>ul>li {
        font-size: 0.8vw;
    }

}

@media screen and (max-width:767px) {
    .content {
        height: 70vw;
    }

    .content_box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
    }

    .emotions {
        width: 30%;
        height: 100%;
        margin: 0;
        text-align: center;
    }

    .positive {
        font-size: 1vw;
        width: 100%;
        height: 20vw;
    }

    .positive>li, .negative>li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .negative {
        font-size: 1vw;
        width: 100%;
        height: 20vw;
    }

    .write_box {
        width: 70%;
        height: 100%;
        margin: 0;
        padding: 8% 0 0 0;
    }

    .write_box>form {
        width: 100%;
        height: 100%w;
    }

    .write_box>form>p {
        padding: 0 0 2% 5%;
    }
    .write_box>form>ul>li:nth-child(1)>input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }    
    .write_box>form>ul>li:nth-child(2)>input {
        width: 17vw;
        height: 2.8vw;
        text-indent: 0px;
    }
    .write_box>form>ul>li:nth-child(3)>input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 15vw;
    }    

    .write_box>form>button {
        width: 8vw;
        padding: 1.5% 0;
    }
    
}

@media all and (max-width:479px) {
    .content{
        height: 110vw;
    }
    .content_box {
        width: 100%;
        flex-direction: column;
    }
    .emotions {
        width: 100%;
        height: 45vw;
        align-items: center;
    }
    .emotions>p{
        display: none;
    }
    .emotions>ul{
        width: 90%;
        height: 22vw;
        padding: 0.5vw 0;
        box-sizing: border-box;
        overflow-y: scroll;
    }
    .positive{
        border-bottom: 1px solid #333;
    }
    .write_box{
        width: 100%;
        height: 65vw;
        margin: 0;
        padding: 5vw 0 0 0;
        overflow-x: hidden;

    }
    .write_box>form {
        padding: 0;
        box-sizing: border-box;
    }

    .write_box>form>p {
        margin: 3vw 0;
        width: 100%;
        height: 6vw;
        font-size: 4vw;
        text-align: center;
    }

    .write_box>form>ul{
        width: 80%;
    }
    .write_box>form>ul>li:nth-child(1)>input {
        width: 40vw;
        letter-spacing: 5px;
        text-align: center;
        text-indent: 0;
    }
    .write_box>form>ul>li:nth-child(2)>input {
        width: 25vw;
    }
    .write_box>form>ul>li:nth-child(3)>input {
        text-indent: 0;
        width: 25vw;
    }
    .write_box>form>ul>li:nth-child(4)>textarea {
        width: 90%;
    }    
    .write_box>form>button {
        width: 20vw;
        padding: 0.5%;
        margin: 0 auto;
    }


 

}