@charset 'utf-8';

.content{
    position: relative;
    height:800px;
    /* background-color: antiquewhite; */
}
.content_box{
    position: absolute;
    top: 150px;
    left: 150px;
    width: 1400px;
    height: 500px;
    /* border: 1px solid saddlebrown; */
}
.mainImg{
    float: left;
    width: 800px;
    height: 500px;
    background: url(./images/mainImg_800.png) no-repeat 0 0;
}
.mainText{
    float: right;
    width: 600px;
    height: 500px;
    text-align: center;
    letter-spacing: 5px;
    /* background-color: aliceblue; */
}
.mainText>h2{
    font-size: 60px;
    margin-top: 20px;
}
.headline{
    font-size: 35px;
}
.mainText>p{
    margin-top: 40px;
    line-height: 40px;
    font-size: 17px;
}
.highlight{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}
p>a{
    font-size: 12px;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 20px;
}
p>a:hover{
    background-color: #333;
    color: #fff;
}